  <div class="row display_questions">
    <ul>
      <li id="questions"><%= question.description %></li>
      <input type="radio"> True
      <br>
      <input type="radio"> False
    </ul>
  </div>
