  <div id="<%= question.id  %>" class="row display_questions">
    <ul id="listQuestions">
      <li><%= question.description %>
        <span><a class="deleteBtn" href="/question/<%= question.id %>"><button>delete</button></a></span>
      </li>
      <input type="radio"> True
      <br>
      <input type="radio"> False
    </ul>
  </div>
