  <div class="row display_questions">
    <ul>
      <li id="questions" contenteditable="true"><%= question.description %></li>
      <input type="radio" name="questions[<%=question.id%>]" value="TRUE"> True
      <br>
      <input type="radio" name="questions[<%=question.id%>]" value="FALSE"> False
    </ul>
  </div>
