<div class="container">
  <div class="row title">
    <h1><%= @survey.title %></h1>
  </div>
  <div class="row questionsList">

  </div>
  <div class="row create_question">
    <form action="/surveys/<%= @survey.id %>/question/create" method="post" class="add-question">
      <input type="text" name="description" placeholder="Question"/>
      <input type="hidden" name="id" value="<%= @survey.id %>"/>
      <input type="submit" value="Next Question"/>
    </form>
      <ul>
        <li>True</li>
        <li>False</li>
      </ul>
      <a href="/complete/form"><button>Complete</button></a>
  </div>
</div>

<div class="template">

</div>
