


<div class="row">
  <div class="col-xs-3 col-md-3 col-lg-3"></div>
  <div class="col-xs-6 col-md-6 col-lg-6">
    <form role="form" action="/signup" method="post" id="signup">
      <input type="text" class="form-control" name="name" placeholder="name" required/>
      <input type="email" class="form-control" name="email" placeholder="email" required />
      <input type="password" class="form-control" name="password_hash" placeholder="password" required />
      <input type="number" class="form-control" class="form-control" name="age" placeholder="age" />

      <input type="submit" class="btn btn-default pull-right" value="Sign Up"/>
        <div class="col-xs-2 col-md-2 col-lg-2">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="radio" name="sex">
              Female
            </span>
          </div> <!-- input-group -->
        </div>
         <div class="col-xs-2 col-md-2 col-lg-2">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="radio" name="sex">
              Male
            </span>
          </div> <!-- input-group -->
        </div>
    </form>
  </div>
  <div class="col-xs-3 col-md-3 col-lg-3"></div>
</div>











