
<div class = "survey_list">
<h2>Surveys for your partaking...</h2>
  <ul>
  <%@all_surveys.each do |survey|%>
    <li>
      <a href="/surveys/<%=survey.id%>"><%=survey.title%></a>
    </li>
    <%end%>
  </ul>  


</div>